.mainCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
}

.form-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 25%;
}

@media  screen and (max-width:600px) {
    .form-cont{
        width: 100%;
    }
}

.input-cont{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.form-label{
    color: rgb(87, 81, 81);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.form-input{
    background-color: transparent;
    border: solid 1px rgb(147, 147, 154);
    padding: 5px;
    border-radius: 5px;
    width: 75%;
    outline: none;
    height: 20px;
}

.forget-pass-btn{
    color: rgb(66, 130, 180);
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-end;
    width: fit-content;
    margin-top: 10px;
}

.submit-btn{
    background-color: darkblue;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40%;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    align-self: flex-end;
    border-radius: 10px;
    height: 35px;
    margin: 10px;
}

@media  screen and (max-width:600px) {
    .submit-btn{
        font-size: 10px;
    }
}


.rowCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    width: 25%;
}

.states{
    color:grey;
    font-size: 18px;
    font-weight: bold;

}

.state-btn{
    background-color: transparent;
    border: solid 1px grey;
    outline: none;
    cursor: pointer;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
}

.logo{
    width: 5%;
}

@media screen and  (max-width :1200px) {
    .submit-btn{
        width:60%
    }
    .logo{
        width: 6%;
    }

}

@media screen and  (max-width :800px) {
    .logo{
        width: 8%;
    }

}

@media screen and  (max-width :576px) {
    .states{
        font-size: 12px;
    }

}

@media screen and  (max-width :430px) {
    .states{
        font-size: 8px;
        font-weight: bold;
    }

}

@media screen and (max-width:920px) {
    .state-btn{
        width: 80%;
        margin: 10px;
    }
    .rowCont{
        width: 40%;
    }
    .form-cont{
        width: 40%;
    }
}

.Header-row-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    height: 6vh;
    /* position: fixed; */
}

.header-logo{
    width: 4%;
}

@media  screen and (max-width:1000px) {
    .header-logo{
        width: 5%;
    }
}
@media  screen and (max-width:899px) {
    .Header-row-cont{
        position: fixed;
    }
}
@media  screen and (max-width:600px) {
    .header-logo{
        width: 8%;
    }
}

.logout-btn{
    background-color: transparent;
    border: solid 1px red;
    border-radius: 5px;
    color: orange;
    padding: 5px;
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
}

.logout-btn:hover{
    background-color: orange;
    color: #ffffff;
}

.home-page{
    max-height: 1200px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diver{
    height: 88vh !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.home-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    margin-left: 20px;
    width: 80%;
    overflow-y: scroll;
    height: 85vh;
}

@media  screen and (max-width:899px) {
    .home-cont{
        margin-top: 40px;
    }
}

.offer-type-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* text-decoration: underline; */
    margin-bottom: 30px;
}

.offer-type{
  background-color: transparent;
  border: none;
  outline: none;
  color: #525e57;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  font-weight: bold;
  /* font-family: 'Bree Serif'; */
}

@media screen and (max-width:530px) {
    .offer-type{
        font-size: 15px;
    }
}

@media screen and (max-width:459px) {
    .offer-type{
        font-size: 12px;
    }
}

.selected-offer{
    color: #09e372;
    border-bottom: solid 2px #09e372;
}

.search-container{
    display: flex;
    flex-direction: row;
    border: solid 1px grey;
    outline: none;
    width: 30%;
}

@media  screen and (max-width:1000px) {
    .search-container{
        width: 35%;
        height: fit-content;
    }
}

@media  screen and (max-width:756px) {
    .search-container{
        width: 45%;
        height: fit-content;
    }
}

@media  screen and (max-width:550px) {
    .search-container{
        width: 50%;
        height: 30px;
    }
}

@media  screen and (max-width:470px) {
    .search-container{
        width: 100%;
        height: 28px;
    }
}


.search-input{
    outline: none;
    border: none;
    border-right: solid 1px grey;
    padding: 5px;
    background-color: transparent;
    width: 90%
}


.search-logo{
    color: black;
    padding: 10px;
}

.list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    list-style-type: none;
}

.seller-cont{
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: aliceblue;
    align-self: center;
    border-radius: 15px;
    margin-bottom: 20px;
}

.app-logo{
    width: 25%;
    padding: 5px;
}

@media screen and (max-width:1050px){
    .app-logo{
        width: 20%;
    }
}

@media screen and (max-width:700px){
    .app-logo{
        width: 15%;
        height: 150px;
    }
}
@media screen and (max-width:700px){
    .app-logo{
        width: 14%;
        height: 120px;
    }
}

.decription-cont{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}

.app-desc{
    color: rgb(87, 86, 86);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Bree Serif';
    padding: 10px;
}

.user-desc{
    color: dimgray;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

@media screen and (max-width:1000px){
    .app-desc{
        font-size: 15px;
    }
}

@media screen and (max-width:756px){
    .app-desc{
        font-size: 12px;
    }
    .user-desc{
        font-size: 13px;
    }
}
@media screen and (max-width:650px){
    .app-desc{
       display: none;
    }
}



.last-det{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 25%;
}

.price-cont{
    display: flex;
    flex-direction: row !important;
    
}

.price-text{
    color: red;
    font-size: 10px;
}

.price{
    color: black;
    font-size: 35px;
    font-weight: bold;
}

@media  screen and (max-width:1000px) {
    .price{
        font-size: 30px;
    }
}

@media  screen and (max-width:756px) {
    .price{
        font-size: 25px;
    }
}

.grab-btn{
    display: flex;
    background-color: transparent;
    border: solid 1px black;
    color: green;
    border-radius: 5px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    width: 40%;
    align-self: flex-end;
}

.grab-arrow{
    color: green;
}



@media  screen and (max-width:1350px) {
    .grab-btn{
        width: 50%;
    }
}

@media  screen and (max-width:1200px) {
    .grab-btn{
        width: 60%;
    }
}

@media  screen and (max-width:1200px) {
    .grab-btn{
        width: 60%;
    }
}

@media  screen and (max-width:1000px) {
    .grab-arrow{
        display: none;
    }
}

@media  screen and (max-width:756px) {
    .grab-arrow{
        display: flex;
    }
    .grab-txt{
        display: none;
    }
}


.sidebar-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    background-color: #f9f9f9;
    padding-top: 20px;
    height: 88vh;
}

@media screen and  (max-width :899px) {
    .sidebar-cont{
        display: none;
    }
}

.sidebar-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    color: #000000;
}
@media screen and  (max-width :1200px) {
    .sidebar-item{
        width: 98%;
    }

}

.side-log{
    font-size: 25px;
    padding: 5px;
}

.item-name{
    font-size: 20px;
    margin-left: 10px;
}

@media screen and  (max-width :1250px) {
    .item-name{
        font-size: 15px;
    }
}

@media screen and  (max-width :1000px) {
    .item-name{
        font-size: 12px;
    }
    .sidebar-item{
        width: 96%;
    }
}

.selected{
    color: red;
    background-color: lightgrey;
}

.count-notes{
    font-size: 12px;
    margin-left: 2px;
    align-self: flex-start;
    margin-top: 10px;
}

.lower-cont{
    display: none;
    width: 80%;
    align-self: center;
    padding: 20px;
    background-color: #f9f9f9 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 4vh;
    margin-bottom: 0px;
    margin-top: auto;
    position:relative;
}

.lowerbar-item{
    color: #000000;
}

.low-selected{
    color: red;
}

@media screen and  (max-width :899px) {
    .lower-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.contribute-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 90vh;
    width: 85%;
    padding-right: 20px;
    padding-left: 10px;

}

@media  screen and (max-width:899px) {
    .contribute-cont{
        margin-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
    }
}

.add-btn{
    background-color: lightcoral;
    border: none;
    outline: none;
    cursor: pointer;
    width: 10%;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    align-self: flex-end;
    border-radius: 10px;
    height: 35px;
    margin: 10px;
}

@media screen and (max-width:600px) {
    .add-btn{
        width: 15%;
    }
}

.adder-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color:transparent;
    border-radius: 10px;
    border: solid 2px black;
}

.heading{
    color: blue;
    font-weight: bold;
    font-size: 25px;
    align-self: flex-start;
    padding: 20px;
}

.contribute-input{
    width: 60%;
}

.input-cont-contribute{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 40%;
}

.submit-btn:hover{
    background-color: transparent;
    border: solid 1px grey;
    color: black;
}

.trigger-button {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    color: white;
    padding: 8px 15px 8px 15px;
    margin: 8px;
    background-color: #7c69e9;
    border: none;
    border-radius: 4px;
    outline: none;
}
.popup-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.popupCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
}

.offer-details-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
}

.ind-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.property{
    color: green;
    font-size: 18px;
    margin-right: 10px;
}

.value{
    color: grey;
    font-size: 14px;
    font-weight: bold;
}



.notify-cont{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 90%;
    height: 85vh;
}
.note-desc{
    color: rgb(87, 86, 86);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Bree Serif';
    padding: 10px;
}

@media screen and (max-width:600px) {
    .note-desc{
        font-size: 14px;
    }
}

@media  screen and (max-width:899px) {
    .notify-cont{
        margin-top: 50px;
        align-self: center;
    }
}

.list-note-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

@media  screen and (max-width:899px) {
    .list-note-container{
        height: 60vh;
        overflow-y: scroll;
    }
}


.note-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    background-color: rgb(223, 205, 172);
    border-radius: 5px;
    margin-top: 10px;
}

.chat-btn{
    width: 9%;
    height: 30px;
    align-self: center;
    color: green;
    border: solid 1px green;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .chat-btn{
        width: 14%;
    }
}

@media screen and (max-width:400px) {
    .chat-btn{
        width: 17%;
        height: 30px;
    }
}

.chat-btn:hover{
    color: white;
    background-color: green;
}

.loading-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: auto;
}

.no-contributions-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-offer-btn{
    font-size: 15px;
    background-color: transparent;
    border: solid 1px red;
    color: blue;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 40%;
    align-self: flex-end;
}

@media  screen and (max-width:1000px) {
    .delete-offer-btn{
        width: 50%;
    }
}

.user-layout-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffffff;
    height: 90vh;
    overflow-y: scroll;
    width: 80%;
    padding-right: 20px;
    padding-left: 10px;
}

@media  screen and (max-width:899px) {
    .user-layout-cont{
        margin-top: 60px;
        padding-top: 20px;
        width: 100%;
    }
}


.layout-cont{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    list-style-type: none;
    height: 70vh;
    overflow-y: scroll;
}

.user-lay-row-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

@media  screen and (max-width:576px) {
    .user-lay-row-cont{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .layout-cont{
        flex-direction: row;
        align-self: center;
        height: auto;
        flex-wrap: wrap;
    }
}


.user-tab{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 1px blue;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.user-dec{
    color: grey;
    font-weight: bold;
    font-size: 18px;
}
.start-btn{
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 4px;
    cursor: pointer;
    width: 30%;
    color: green;
    padding: 0;
    margin-left: 10px;
}

.chat-cont{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: solid 1px grey;
}

@media  screen and (max-width:899px) {
    .chat-cont{
        align-self: center;
    }
}

.chat-header{
    background-color: #7c69e9;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chat-user-name{
    color: #f9f9f9;
    font-weight: bold;
    font-size: 18px;
}

.chat-body{
    height: 300px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    overflow-y: scroll !important;   
    padding: 10px;
    bottom: 0;
    position: relative;
}



.chat-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-top: solid 1px grey;
}

.chat-input{
    width: 80%;
    padding: 5px;
    height: 30px;
    outline: none;
    border: 5px;
    background-color: transparent;
}

.chat-send-btn{
    color: grey;
    font-size: 20px;
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.msg-item{
    background-color: rgb(66, 64, 64);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    margin-top: 10px;
}

.msg-content{
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    line-height: 0;
}

.user-content{
    color: rgb(193, 220, 244);
    font-size: 10px;
    line-height: 0;
}

.user-side{
    background-color: #7c69e9;
    align-self: flex-end;
    margin-right: 20px;
}


.trouble-text{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: chocolate;
    text-decoration: underline;
    justify-self:right;
    margin-right: 20px;
}

.trouble-popup{
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 400px;
}

.popup-tr-text{
    color: #000000;
    font-size: 16px;
}


/* payments styles */

.payment-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    margin-left: 20px;
    width: 80%;
    overflow-y: scroll;
    /* height: 85vh; */
}

.raise-pay-btn{
    align-self: flex-end;
    background-color: blue;
    color: white !important;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.pending-pays-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    width: 90%;
}

.pending-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px black;
    width: 20%;
    margin: 5px;
}

.requested-user{
    color: green;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    align-self: center;
}

.pending-card-text{
    color: grey;
    font-size: 14px;
    font-weight: bold;
}

.pending-card-value{
    color: green;
    font-size: 15px;
}

.pay-btn{
    border: none;
    background-color: purple;
    border-radius: 4px;
    width: fit-content;
    align-self: flex-end;
    color: white;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}